.header{
    height: 34vw;
    margin: 30px auto;
    background-size: contain;
    position: relative;
}
.header-content{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 55%;
    bottom: 10%;
    left:6vw;
    animation: fadeIn 3s;
}
.header-content h2{
    font-size:max(4.7vw,10px);
    font-weight: 500;
    color:white;
}
.header-content p{
    font-size: 1vw;
    color: white;
}
.header-content button{
    border-radius: 50px;
    color: #777777;
    padding: 1vw 2vw;
    font-size:max(1vw,13px);
    background-color:rgb(242, 237, 235);
    border: 1px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 2px 4px 10px black;
}
.header-content button:hover{
    background-color:rgb(237, 165, 126);
    font-size:max(1vw,15px);
}

@media(max-width:1050px) {
    .header-content{
        max-width: 45%;
    }
}
@media(max-width:750px) {
    .header-content{
        max-width: 65%;
    }
    /* .header-content p{
        display: none;
    } */
    .header-content button{
        padding: 2vw 4vw;
    }
}
